Repository cirrus-geo/cirrus-geo: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

refactor: rename WorkflowMetrics to WorkflowMetricLogger; add reader
  src/cirrus/lib/events.py
Due: none

pr feedback
  src/cirrus/lib/events.py
Due: none

add: tests of WorkflowMetric(Logger&Reader)
  tests/lib/test_events.py
Due: none

create a logstream for each WorkflowMetrics instantiation
  src/cirrus/lib/events.py
Due: none

move: mesg creation to WorkflowEvent; rename metric access methods
  src/cirrus/lib/events.py
Due: none

initial implementation of WorkflowMetrics
  src/cirrus/lib/events.py
  src/cirrus/lib/utils.py
Due: none

add: WorkflowMetricLogger integrated, & EventDB/Timestream deprecated
  src/cirrus/lib/events.py
Due: none

refactor: change order of class definition for mypy's sake
  src/cirrus/lib/events.py
Due: none

refactor: manual (skipped) test of WorkflowMetricReader improved
  src/cirrus/lib/events.py
  tests/lib/test_events.py
Due: none

doc: update CHANGELOG.md
  CHANGELOG.md
Due: none

refactor: move WorkflowMetricReader toward replacement for eventdb
  src/cirrus/lib/events.py
  tests/lib/test_events.py
Due: none

feat: add WorkflowMetricReader as default for api stats
  src/cirrus/lambda_functions/api.py
  tests/lambda_functions/test_api.py
Due: none

chore: given usage of py3.12 now, use StrEnum
  src/cirrus/lib/enums.py
  src/cirrus/lib/events.py
Due: none

refactor: use complete stats time series for compatiblity with EventDB output/ cirrus dashboard
  src/cirrus/lib/events.py
Due: none

fix: raise Exception if specified log group does not exist
  src/cirrus/lib/events.py
Due: none

fix: avoid editable installs in CI and lambda build
  .github/workflows/python-test.yml
  MANIFEST.in
  bin/build-lambda-dist.bash
Due: check-yaml

CI doc updates
  versions.txt
Due: none

wip
  .gitignore
  bin/localstack-provision.bash
  compose.yml
Due: check-yaml

make VPC use conditional
  cloudformation/main.yaml
  cloudformation/platform/functions.yaml
Due: check-yaml

chore: release prep for v1.1.1
  CHANGELOG.md
  pyproject.toml
Due: check-toml

test: monkeypatch to avoid polluting environment
  tests/lib/test_events.py
Due: none

review: remove file type from readme field
  pyproject.toml
Due: check-toml

Release prep for v1.1.1 (#341)
  CHANGELOG.md
Due: none

localstack env
  .env
  tests/conftest.py
Due: none

docs: add PR template
  .github/pull_request_template.md
Due: none

fix: correct changelog link in PR template
  .github/pull_request_template.md
Due: none

churn: renaming, add ssm parameters, cull input parameters
  .gitignore
  bin/build-lambda-dist.bash
  cloudformation/README.md
  cloudformation/cli/ssm_parameters.yaml
  cloudformation/core/api.yaml
  cloudformation/core/base.yaml
  cloudformation/core/functions.yaml
  cloudformation/core/lambda-packages/.gitkeep
  cloudformation/core/vpc.yaml
  cloudformation/main.yaml
  cloudformation/parameters.json
  cloudformation/parameters/parameters.json
Due: check-yaml

chore: much reorg, refactor, rename
  cloudformation/README.md
  cloudformation/bootstrap/bootstrap.yaml
  cloudformation/main.yaml
  cloudformation/parameters/parameters.json
  cloudformation/platform/api.yaml
  cloudformation/platform/base.yaml
  cloudformation/platform/functions.yaml
  cloudformation/platform/vpc.yaml
Due: check-yaml

fix: stop pymarkdown from "fixing" the PR template
  .github/pull_request_template.md
Due: none

feat: initial commit for CloudFormation work
  .pre-commit-config.yaml
  cloudformation/README.md
  cloudformation/cirrus-bootstrap.yaml
  cloudformation/cirrus-main.yaml
  cloudformation/core/cirrus-api.yaml
  cloudformation/core/cirrus-base.yaml
  cloudformation/core/cirrus-functions.yaml
  cloudformation/core/cirrus-vpc.yaml
  cloudformation/parameters.json
  pyproject.toml
  uv.lock
Due: check-toml, check-yaml

chore: add CHANGELOG entry
  CHANGELOG.md
Due: none

fix: incremental changes to build-lambda-dist.bash for architecture support
  bin/build-lambda-dist.bash
Due: none

fix: unblock security group traffic, bump lambda specs, correct state machine name
  cloudformation/core/functions.yaml
  cloudformation/parameters.json
  cloudformation/workflows/minimal/state_machine.yaml
Due: check-yaml

feat: multi-arch and multi-python build for Lambda package
  .gitignore
  bin/build-lambda-dist.bash
Due: none

review: update cloudformation README
  cloudformation/README.md
Due: none

fix: modify build-lambda-dist.bash for arm64
  bin/build-lambda-dist.bash
Due: none

wip: minimal workflow
  cloudformation/README.md
  cloudformation/bootstrap/bootstrap.yaml
  cloudformation/workflows/minimal/payload.json
  cloudformation/workflows/minimal/state_machine.yaml
Due: check-yaml

Path conditions:
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
