Repository cirrus-geo/cirrus-geo: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

release prep for v0.15.2
  CHANGELOG.md
Due: none

update release to use trusted providers
  .github/workflows/python-publish.yml
Due: check-yaml

CI doc updates
  versions.txt
Due: none

update changelog and build environment
  .github/workflows/python-publish.yml
  CHANGELOG.md
Due: check-yaml

don't run publish workflow on non-release events
  .github/workflows/python-publish.yml
Due: check-yaml

run tests on PR and merge to release/v0
  .github/workflows/python-test.yml
Due: check-yaml

v0 not py3.12 compatible yet due to importlib_resources
  .github/workflows/python-test.yml
  setup.py
Due: check-yaml

remove barrier to 3.12
  .github/workflows/python-test.yml
  setup.py
Due: check-yaml

setuptools is actually a requirement for core/components/base/_lambda.py
  requirements.txt
  src/cirrus/core/utils/misc.py
Due: none

use _legacy module for importlib.resources (#289)
  src/cirrus/core/cloudformation/templates/__init__.py
Due: none

offline code coverage upload
  .github/workflows/python-test.yml
Due: check-yaml

fix changelog for v0.15.0
  CHANGELOG.md
Due: none

fix: pass payload, not str version, if payload is large
  CHANGELOG.md
  src/cirrus/lib2/process_payload.py
  tests/cli/fixtures/build/hashes.json
Due: none

add: test of payload upload feature
  tests/lib/test_process_payload.py
Due: none

release prep v0.15.4
  CHANGELOG.md
Due: none

change update_state lambda to publish items to SNS
  src/cirrus/lambda_functions/update_state.py
  src/cirrus/lib/process_payload.py
  src/cirrus/lib/utils.py
  tests/lambda_functions/test_update_state.py
  tests/lib/fixtures/items/item.json
  tests/lib/fixtures/items/item.json.expected
  tests/lib/fixtures/items/item_alt.json
  tests/lib/fixtures/items/item_alt.json.expected
  tests/lib/fixtures/items/item_no_properties.json
  tests/lib/fixtures/items/item_no_properties.json.expected
  tests/lib/test_process_payload.py
  tests/lib/test_utils.py
Due: none

Add and fix update_state unit tests
  src/cirrus/lambda_functions/update_state.py
  tests/lambda_functions/conftest.py
  tests/lambda_functions/test_update_state.py
  tests/lib/fixtures/items/item_no_properties.json
Due: none

Renamed function based on PR feedback
  src/cirrus/lambda_functions/update_state.py
  src/cirrus/lib/process_payload.py
  tests/lib/test_process_payload.py
Due: none

Change update_state lambda to push items to SNS (#294)
  src/cirrus/lambda_functions/update_state.py
  src/cirrus/lib/process_payload.py
  src/cirrus/lib/utils.py
  tests/lambda_functions/conftest.py
  tests/lambda_functions/test_update_state.py
  tests/lib/fixtures/items/item.json
  tests/lib/fixtures/items/item.json.expected
  tests/lib/fixtures/items/item_alt.json
  tests/lib/fixtures/items/item_alt.json.expected
  tests/lib/fixtures/items/item_no_properties.json
  tests/lib/fixtures/items/item_no_properties.json.expected
  tests/lib/test_process_payload.py
  tests/lib/test_utils.py
Due: none

feat: rework deployment pointer to utilize parameter store and parameter store hierarchy to return single deployment or all deployments
  src/cirrus/management/commands/deployments.py
  src/cirrus/management/deployment.py
  src/cirrus/management/deployment_pointer.py
Due: none

feat: extract some deployment parsing logic into stand alone constructors
  src/cirrus/management/deployment.py
  src/cirrus/management/deployment_pointer.py
Due: none

tests: adding unit tests for reworked DeploymentPointer feat: tweaked some function names
  src/cirrus/management/deployment.py
  src/cirrus/management/deployment_pointer.py
  tests/management/conftest.py
  tests/management/fixtures/parameter_store_response.json
  tests/management/test_manage.py
Due: none

lots of linterfixes by pre-commit
  src/cirrus/lib/process_payload.py
  src/cirrus/management/commands/manage.py
  src/cirrus/management/deployment.py
  src/cirrus/management/deployment_pointer.py
  tests/conftest.py
  tests/lambda_functions/test_post_batch.py
  tests/lambda_functions/test_process.py
  tests/lambda_functions/test_update_state.py
  tests/lib/conftest.py
  tests/lib/test_eventdb.py
  tests/lib/test_process_payload.py
  tests/lib/test_statedb.py
  tests/lib/test_utils.py
  tests/management/conftest.py
  tests/management/test_manage.py
Due: none

Feat: searching name now searches by appending name to prefix to reduce return volume
  src/cirrus/management/deployment_pointer.py
  tests/management/test_manage.py
Due: none

fix broken test where get_deloyments returns a list length 1 for get deployment by name
  src/cirrus/management/deployment_pointer.py
Due: none

feat: passing session into lambda commands feat: clearing out unused artifact attributes from DeploymentMeta class
  src/cirrus/management/commands/deployments.py
  src/cirrus/management/commands/manage.py
  src/cirrus/management/deployment.py
  src/cirrus/management/deployment_pointer.py
Due: none

feat: varied fixes by pre-commit linter
  tests/conftest.py
  tests/lambda_functions/test_post_batch.py
  tests/lambda_functions/test_process.py
  tests/lambda_functions/test_update_state.py
  tests/lib/conftest.py
  tests/lib/test_eventdb.py
  tests/lib/test_process_payload.py
  tests/lib/test_statedb.py
  tests/lib/test_utils.py
  tests/management/conftest.py
  tests/management/test_manage.py
Due: none

tweak to check github
  src/cirrus/management/deployment.py
Due: none

add ssm fixture
  tests/conftest.py
Due: none

feat: add pagination handling to deployment pointer feat: adding validator to deployment_pointer tests: creat and better utilize ssm store with more realistic fake vars
  pyproject.toml
  src/cirrus/management/deployment_pointer.py
  src/cirrus/management/exceptions.py
  tests/conftest.py
  tests/management/conftest.py
  tests/management/fixtures/parameter_store_response.json
  tests/management/test_deployment_pointer.py
Due: check-toml

tests: DRY up deployment_pointer tests
  tests/management/test_deployment_pointer.py
Due: none

tests: get show test working tests: move around some fixtures for access feat: set config version in DeploymentMeta to default
  pyproject.toml
  src/cirrus/management/deployment.py
  tests/management/conftest.py
  tests/management/test_deployment_pointer.py
  tests/management/test_manage.py
Due: check-toml

feat: adjust deployment_pointer to return none if no parameters are found tests: got show unknown deployment working
  src/cirrus/management/deployment_pointer.py
  tests/management/test_manage.py
Due: none

Path conditions:
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
