Repository cirrus-geo/cirrus-geo: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff_check
        name: ruff check
        entry: ruff check --force-exclude
        language: python
        'types_or': [python, pyi]
        args: [--fix, --exit-non-zero-on-fix]
        require_serial: true
      - id: ruff_format
        name: ruff format
        entry: ruff format --force-exclude
        language: python
        'types_or': [python, pyi]
        args: []
        require_serial: true
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]
      - id: mypy
        name: mypy
        entry: mypy
        language: python
        'types_or': [python, pyi]
        args: []
        require_serial: true

refactor: simplify VPC and update Lambda packages
  cloudformation/core/functions.yaml
  cloudformation/core/vpc.yaml
  cloudformation/main.yaml
  cloudformation/parameters.json
Due: check-yaml

parametrized build process for lambda runtime version and arch
  .github/workflows/build-lambda-dist.yml
  CONTRIBUTING.md
  bin/build-lambda-dist.bash
  bin/build-lambda-dist.py
  cloudformation/README.md
  cloudformation/core/functions.yaml
  cloudformation/main.yaml
  pyproject.toml
Due: check-toml, check-yaml

review: remove default bucket encryption
  cloudformation/bootstrap/bootstrap.yaml
  cloudformation/core/base.yaml
Due: check-yaml

review: edit state machine definition to actually succeed or fail based on a payload field
  cloudformation/README.md
  cloudformation/workflows/minimal/payload.json
  cloudformation/workflows/minimal/state_machine.yaml
Due: check-yaml

fix: use literal string for local lambda package path
  cloudformation/README.md
  cloudformation/core/functions.yaml
  cloudformation/parameters.json
Due: check-yaml

review: patch stactask's __init__.py to avoid importing all of stactask
  bin/build-lambda-dist.py
  src/cirrus/lib/cirrus_payload.py
Due: none

docs: minor edits to CloudFormation README
  cloudformation/README.md
Due: none

CloudFormation (#338)
  .github/pull_request_template.md
  .github/workflows/build-lambda-dist.yml
  .gitignore
  .pre-commit-config.yaml
  CHANGELOG.md
  CONTRIBUTING.md
  bin/build-lambda-dist.bash
  bin/build-lambda-dist.py
  cloudformation/README.md
  cloudformation/bootstrap/bootstrap.yaml
  cloudformation/cli/ssm_parameters.yaml
  cloudformation/core/api.yaml
  cloudformation/core/base.yaml
  cloudformation/core/functions.yaml
  cloudformation/core/lambda-packages/.gitkeep
  cloudformation/core/vpc.yaml
  cloudformation/main.yaml
  cloudformation/parameters.json
  cloudformation/workflows/minimal/payload.json
  cloudformation/workflows/minimal/state_machine.yaml
  pyproject.toml
  src/cirrus/lib/cirrus_payload.py
  uv.lock
Due: check-toml, check-yaml

wip
  .gitignore
  bin/localstack-provision.bash
  compose.yml
Due: check-yaml

localstack env
  .env
  tests/conftest.py
Due: none

tune up localstack and align aws deployment to match localstack deployment
  .env
  .env.aws.example
  .env.localstack.example
  .gitignore
  bin/build-lambda-dist.py
  bin/localstack-provision.bash
  cloudformation/README.md
  cloudformation/core/api.yaml
  cloudformation/core/functions.yaml
  cloudformation/main.yaml
  cloudformation/parameters.json
Due: check-yaml

fix: correct markdown formatting in README
  cloudformation/README.md
Due: none

review cleanup, fixes, and refinements
  .env.aws.example
  .env.localstack.example
  bin/localstack-provision.bash
  cloudformation/README.md
  cloudformation/core/functions.yaml
  cloudformation/main.yaml
  compose.yml
Due: check-yaml

zip build fix for overzealous permissions resetting
  bin/build-lambda-dist.py
Due: none

minor README fixes
  cloudformation/README.md
Due: none

more minor README edits
  cloudformation/README.md
Due: none

update CHANGELOG
  CHANGELOG.md
Due: none

add AWS_DEFAULT_REGION to localstack env vars for cli compat
  .env.localstack.example
Due: none

Localstack (#340)
  .env.aws.example
  .env.localstack.example
  .gitignore
  CHANGELOG.md
  bin/build-lambda-dist.py
  bin/localstack-provision.bash
  cloudformation/README.md
  cloudformation/core/api.yaml
  cloudformation/core/functions.yaml
  cloudformation/main.yaml
  cloudformation/parameters.json
  compose.yml
  tests/conftest.py
Due: check-yaml

CI doc updates
  versions.txt
Due: none

support defaults in payload templates
  CHANGELOG.md
  src/cirrus/management/utils/templating.py
  tests/management/utils/__init__.py
  tests/management/utils/test_templating.py
Due: none

add test command to localstack script
  bin/localstack-provision.bash
Due: none

run-workflow: return non-zero on failure
  CHANGELOG.md
  src/cirrus/management/commands/manage.py
  src/cirrus/management/deployment.py
Due: none

convert cloudformation minimal workflow payload to a template with defautls
  cloudformation/README.md
  cloudformation/workflows/minimal/payload.json
  cloudformation/workflows/minimal/payload.json.template
Due: none

changes per PR feedback
  bin/localstack-provision.bash
  src/cirrus/management/utils/templating.py
Due: none

Localstack testing (#344)
  CHANGELOG.md
  bin/localstack-provision.bash
  cloudformation/README.md
  cloudformation/workflows/minimal/payload.json
  cloudformation/workflows/minimal/payload.json.template
  src/cirrus/management/commands/manage.py
  src/cirrus/management/deployment.py
  src/cirrus/management/utils/templating.py
  tests/management/utils/__init__.py
  tests/management/utils/test_templating.py
Due: none

fix version widget per #313 fixes
  main/_static/js/versions-loader.js
  main/index.html
  v0.10.0/_static/js/versions-loader.js
  v0.10.1/_static/js/versions-loader.js
  v0.11.0/_static/js/versions-loader.js
  v0.11.1/_static/js/versions-loader.js
  v0.11.2/_static/js/versions-loader.js
  v0.11.3/_static/js/versions-loader.js
  v0.11.4/_static/js/versions-loader.js
  v0.12.0/_static/js/versions-loader.js
  v0.12.1/_static/js/versions-loader.js
  v0.13.0/_static/js/versions-loader.js
  v0.14.0/_static/js/versions-loader.js
  v0.15.0/_static/js/versions-loader.js
  v0.15.1/_static/js/versions-loader.js
  v0.15.2/_static/js/versions-loader.js
  v0.15.3/_static/js/versions-loader.js
  v0.15.4/_static/js/versions-loader.js
  v0.7.0/_static/js/versions-loader.js
  v0.8.0/_static/js/versions-loader.js
  v0.9.0a/_static/js/versions-loader.js
  v0.9.0b/_static/js/versions-loader.js
  v0.9.0c/_static/js/versions-loader.js
  v1.0.0/_static/js/versions-loader.js
  v1.0.0/index.html
  v1.0.0a0/_static/js/versions-loader.js
  v1.0.0a0/index.html
  v1.0.0a1/_static/js/versions-loader.js
  v1.0.0a1/index.html
  v1.0.1/_static/js/versions-loader.js
  v1.0.1/index.html
  v1.0.2/_static/js/versions-loader.js
  v1.0.2/index.html
  v1.1.0/_static/js/versions-loader.js
  v1.1.0/index.html
  v1.1.1/_static/js/versions-loader.js
  v1.1.1/index.html
  versions.txt
Due: none

cleaner code
  docs/src/static/js/versions-loader.js
Due: none

fix template directory inclusion
  docs/src/conf.py
Due: none

sort versions in docs version.txt file
  docs/update-versions.py
Due: none

Fix: Docs version widget (#313)
  docs/src/conf.py
  docs/src/static/js/versions-loader.js
  docs/update-versions.py
Due: none

workflow doc update initial commit
  docs/src/cirrus/components/workflows/batch.rst
  docs/src/cirrus/components/workflows/callbacks.rst
  docs/src/cirrus/components/workflows/definitions.rst
  docs/src/cirrus/components/workflows/index.rst
  docs/src/components/workflows/index.rst
  docs/src/components/workflows/publish-only.md
Due: none

applied suggestion
  docs/src/cirrus/components/workflows/definitions.rst
Due: none

applying pr suggestions
  docs/src/cirrus/components/workflows/batch.rst
  docs/src/cirrus/components/workflows/index.rst
  docs/src/components/workflows/index.rst
Due: none

PR feedback
  docs/src/cirrus/components/workflows/batch.rst
Due: none

Docs: update workflow docs (#312)
  docs/src/cirrus/components/workflows/batch.rst
  docs/src/cirrus/components/workflows/callbacks.rst
  docs/src/cirrus/components/workflows/definitions.rst
  docs/src/cirrus/components/workflows/index.rst
  docs/src/components/workflows/index.rst
  docs/src/components/workflows/publish-only.md
Due: none
