Repository cirrus-geo/cirrus-geo: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

some linting/formatting fixes
  docs/src/conf.py
  docs/update-versions.py
  src/cirrus/lambda_handlers/api.py
  src/cirrus/lambda_handlers/post_batch.py
  src/cirrus/lambda_handlers/pre_batch.py
  src/cirrus/lambda_handlers/process.py
  src/cirrus/lambda_handlers/update_state.py
  src/cirrus/lib/eventdb.py
  src/cirrus/lib/events.py
  src/cirrus/lib/logging.py
  src/cirrus/lib/process_payload.py
  src/cirrus/lib/statedb.py
  src/cirrus/lib/utils.py
  tests/conftest.py
  tests/lambda_handlers/conftest.py
  tests/lambda_handlers/test_api.py
  tests/lambda_handlers/test_post_batch.py
  tests/lambda_handlers/test_process.py
  tests/lambda_handlers/test_update_state.py
  tests/lib/conftest.py
  tests/lib/test_eventdb.py
  tests/lib/test_process_payload.py
  tests/lib/test_statedb.py
  tests/lib/test_utils.py
  utils/fake_workflow_event_generator.py
Due: none

more type/formatting/linting fixes
  src/cirrus/lambda_handlers/api.py
  src/cirrus/lib/eventdb.py
Due: none

better gitignore
  .gitignore
Due: none

linting/formatting/typing fixes to get pre-commit passing on all files
  pyproject.toml
  src/cirrus/lambda_handlers/post_batch.py
  src/cirrus/lambda_handlers/pre_batch.py
  src/cirrus/lambda_handlers/process.py
  src/cirrus/lambda_handlers/update_state.py
  src/cirrus/lib/events.py
  src/cirrus/lib/logging.py
  src/cirrus/lib/process_payload.py
  src/cirrus/lib/statedb.py
  src/cirrus/lib/utils.py
  tests/conftest.py
  tests/lambda_handlers/__init__.py
  tests/lambda_handlers/conftest.py
  tests/lambda_handlers/test_api.py
  tests/lambda_handlers/test_post_batch.py
  tests/lambda_handlers/test_process.py
  tests/lambda_handlers/test_update_state.py
  tests/lib/test_eventdb.py
  tests/lib/test_process_payload.py
  tests/lib/test_statedb.py
  tests/lib/test_utils.py
  tests/management/conftest.py
  utils/fake_workflow_event_generator.py
Due: check-toml

refine InvalidInput exception support
  src/cirrus/lambda_handlers/post_batch.py
  src/cirrus/lambda_handlers/update_state.py
  src/cirrus/lib/errors.py
  tests/lambda_handlers/test_update_state.py
Due: none

remove legacy API support
  src/cirrus/lambda_handlers/api.py
Due: none

remove deprecated FAILED and INVALID topic notifications
  src/cirrus/lambda_handlers/update_state.py
Due: none

rework BatchHandler and subclasses
  src/cirrus/lambda_handlers/process.py
  src/cirrus/lambda_handlers/update_state.py
  src/cirrus/lib/events.py
  src/cirrus/lib/utils.py
  tests/lambda_handlers/test_update_state.py
  tests/lib/test_utils.py
Due: none

get ci working again
  .github/workflows/python-test.yml
Due: check-yaml

remove some bad mgmt tests and ignore others
  tests/management/test_deployments.py
  tests/management/test_manage.py
Due: none

CONTRIBUTING.md updates
  CONTRIBUTING.md
Due: none

remove some dead code
  pyproject.toml
  requirements.txt
  src/cirrus/lib/process_payload.py
  src/cirrus/lib/utils.py
Due: check-toml

get docs workflow working again
  .github/workflows/docs-build.yml
Due: check-yaml

rename lambda_handlers to lambda_functions per PR feedback
  src/cirrus/lambda_functions/__init__.py
  src/cirrus/lambda_functions/api.py
  src/cirrus/lambda_functions/post_batch.py
  src/cirrus/lambda_functions/pre_batch.py
  src/cirrus/lambda_functions/process.py
  src/cirrus/lambda_functions/update_state.py
  tests/lambda_functions/__init__.py
  tests/lambda_functions/conftest.py
  tests/lambda_functions/test_api.py
  tests/lambda_functions/test_post_batch.py
  tests/lambda_functions/test_pre_batch.py
  tests/lambda_functions/test_process.py
  tests/lambda_functions/test_update_state.py
Due: none

remove redundant None from a dict get call
  src/cirrus/lib/process_payload.py
Due: none

remove support for non-array process values in payload
  src/cirrus/lib/process_payload.py
  tests/lambda_functions/test_process.py
  tests/lambda_functions/test_update_state.py
  tests/lib/fixtures/sqs-event.json
  tests/lib/fixtures/test-payload.json
  tests/lib/test_process_payload.py
Due: none

use dynamic metadata to express project dependencies
  CONTRIBUTING.md
  bin/compile-requirements.bash
  pyproject.toml
  requirements-cli.txt
  requirements-dev.txt
  requirements-docs.txt
  requirements-in/10_requirements.in
  requirements-in/20_requirements-cli.in
  requirements-in/40_requirements-dev.in
  requirements-in/50_requirements-docs.in
  requirements.txt
Due: check-toml

remove all obviously out-of-date info from README
  README.md
Due: none

fix: SNSPublisher dest_name handling
  src/cirrus/lib2/utils.py
  tests/cli/fixtures/build/hashes.json
Due: none

throw error instead of returning None from EventDB _query
  src/cirrus/lambda_functions/api.py
  src/cirrus/lib/errors.py
  src/cirrus/lib/eventdb.py
  tests/lambda_functions/test_api.py
  tests/lib/test_eventdb.py
Due: none

remove submit_batch_job
  src/cirrus/lib/utils.py
Due: none

switch to pyproject.toml, compile deps, and update precommit
  .flake8
  .isort.cfg
  .markdownlint.yml
  .pre-commit-config.yaml
  .prettierignore
  bin/compile-requirements.bash
  pyproject.toml
  requirements-dev.in
  requirements-dev.txt
  requirements.txt
  setup.py
Due: check-toml, check-yaml

add region as opt param to get_client/get_resource
  src/cirrus/lib/utils.py
Due: none

Path conditions:
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
