Repository cirrus-geo/cirrus-geo: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff_check
        name: ruff check
        entry: ruff check --force-exclude
        language: python
        'types_or': [python, pyi]
        args: [--fix, --exit-non-zero-on-fix]
        require_serial: true
      - id: ruff_format
        name: ruff format
        entry: ruff format --force-exclude
        language: python
        'types_or': [python, pyi]
        args: []
        require_serial: true
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]
      - id: mypy
        name: mypy
        entry: mypy
        language: python
        'types_or': [python, pyi]
        args: []
        require_serial: true

review: move from_event to CirrusPayload
  src/cirrus/lambda_functions/post_batch.py
  src/cirrus/lambda_functions/pre_batch.py
  src/cirrus/lambda_functions/update_state.py
  src/cirrus/lib/cirrus_payload.py
  src/cirrus/lib/payload_manager.py
  src/cirrus/management/deployment.py
  tests/lib/test_cirrus_payload.py
  tests/lib/test_payload_manager.py
Due: none

chore: update CHANGELOG
  CHANGELOG.md
Due: none

review: update docs to use "Cirrus Payload" instead of "Cirrus Process Payload"
  docs/src/cirrus/10_intro.rst
  docs/src/cirrus/20_arch.rst
  docs/src/cirrus/30_payload.rst
  docs/src/cirrus/60_components.rst
  docs/src/cirrus/components/tasks/index.rst
  docs/src/cirrus/components/workflows/chaining.rst
  docs/src/cirrus/components/workflows/definitions.rst
  docs/src/components/functions/index.rst
  docs/src/components/functions/process.md
  docs/src/components/tasks/index.rst
Due: none

review: make Payload's stactask source explicit
  src/cirrus/lib/cirrus_payload.py
Due: none

review: correct payload ID validation
  src/cirrus/lib/cirrus_payload.py
  tests/management/test_payload.py
Due: none

refactor: manual (skipped) test of WorkflowMetricReader improved
  src/cirrus/lib/events.py
  tests/lib/test_events.py
Due: none

add: WorkflowMetricLogger integrated, & EventDB/Timestream deprecated
  src/cirrus/lib/events.py
Due: none

refactor: change order of class definition for mypy's sake
  src/cirrus/lib/events.py
Due: none

review: simplify potential pip deletion in build-lambda-dist.bash
  bin/build-lambda-dist.bash
Due: none

review: simplify Deployment.run_workflow method
  src/cirrus/lib/cirrus_payload.py
  src/cirrus/lib/payload_manager.py
  src/cirrus/management/deployment.py
Due: none

review: use payload's process_definition directly
  src/cirrus/lib/payload_manager.py
Due: none

fix: fix lambda build script to use uv
  .github/workflows/build-lambda-dist.yml
  bin/build-lambda-dist.bash
Due: check-yaml

review: remove unnecessary features attribute on PayloadManager
  src/cirrus/lib/payload_manager.py
Due: none

review: Change name from ProcessPayload to PayloadManager
  docs/src/cirrus/20_arch.rst
  src/cirrus/lambda_functions/post_batch.py
  src/cirrus/lambda_functions/pre_batch.py
  src/cirrus/lambda_functions/process.py
  src/cirrus/lambda_functions/update_state.py
  src/cirrus/lib/cirrus_payload.py
  src/cirrus/lib/payload_manager.py
  src/cirrus/management/commands/manage.py
  src/cirrus/management/commands/payload.py
  src/cirrus/management/deployment.py
  tests/fixtures/basic_payload.json
  tests/lambda_functions/test_process.py
  tests/lib/test_payload_manager.py
  tests/lib/test_utils.py
  tests/management/conftest.py
  tests/management/test_deployment_pointer.py
  tests/management/test_manage.py
Due: none

chore: update changelog
  CHANGELOG.md
Due: none

feat: use the stac-task Payload model
  CHANGELOG.md
  README.md
  pyproject.toml
  src/cirrus/lambda_functions/process.py
  src/cirrus/lambda_functions/update_state.py
  src/cirrus/lib/process_payload.py
  src/cirrus/management/commands/payload.py
  src/cirrus/management/deployment.py
  tests/lambda_functions/test_process.py
  tests/lib/test_process_payload.py
  tests/management/test_payload.py
  uv.lock
Due: check-toml

review: subclass stac-task Payload for Cirrus-specific validation and ID generation
  CHANGELOG.md
  src/cirrus/lib/cirrus_payload.py
  src/cirrus/lib/process_payload.py
Due: none

doc: update CHANGELOG.md
  CHANGELOG.md
Due: none

prep v1.1.0 release
  CHANGELOG.md
Due: none

split package build and release into separate jobs
  .github/workflows/python-publish.yml
Due: check-yaml

standardize on single - in release headings
  CHANGELOG.md
Due: none

Prep v1.1.0 release (#336)
  .github/workflows/python-publish.yml
  CHANGELOG.md
Due: check-yaml

CI doc updates
  versions.txt
Due: none

switch build system to hatchling and fix readme inclusion
  .gitignore
  pyproject.toml
  src/cirrus/__init__.py
Due: check-toml

relax overly-strict stac-task version pin
  pyproject.toml
  uv.lock
Due: check-toml

Switch build system to hatchling and fix readme inclusion (#337)
  .gitignore
  pyproject.toml
  src/cirrus/__init__.py
  uv.lock
Due: check-toml

refactor: move WorkflowMetricReader toward replacement for eventdb
  src/cirrus/lib/events.py
  tests/lib/test_events.py
Due: none

feat: initial commit for CloudFormation work
  .pre-commit-config.yaml
  bin/build-lambda-dist.bash
  cloudformation/README.md
  cloudformation/cirrus-bootstrap.yaml
  cloudformation/cirrus-main.yaml
  cloudformation/core/cirrus-api.yaml
  cloudformation/core/cirrus-base.yaml
  cloudformation/core/cirrus-functions.yaml
  cloudformation/core/cirrus-vpc.yaml
  cloudformation/parameters.json
  pyproject.toml
  uv.lock
Due: check-toml, check-yaml

chore: much reorg, refactor, rename
  cloudformation/README.md
  cloudformation/bootstrap/bootstrap.yaml
  cloudformation/main.yaml
  cloudformation/parameters/parameters.json
  cloudformation/platform/api.yaml
  cloudformation/platform/base.yaml
  cloudformation/platform/functions.yaml
  cloudformation/platform/vpc.yaml
Due: check-yaml
